
:root{
    --orange :  hsl(31, 77%, 52%);
    --cyan : hsl(184, 100%, 22%) ; 
    --dark-cyan :  hsl(179, 100%, 13%) ; 
    --transparent-white :  hsla(0, 0%, 100%, 0.39) ;
    --backgound : hsl(0, 0%, 95%) ;
    --font-size : 15px;  
}

*{
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--font-size); 
}

.container{
    display : flex ; 
    width : 100vw ; 
    height : 100vh ; 
    justify-content : center ; 
    align-items: center ;
    /* overflow: hidden;  */
}

.card-container{
    width : 60% ; 
    height : 60% ; 
    display : flex ; 
     
}

.card{
    box-sizing: border-box;
    
    width : 1fr ; 
    height : 100% ;
    
    padding : 3em ;
    
    color : white ;
    
    display : flex ; 
    flex-direction : column ; 


}
.card:first-child {
    background-color:var(--orange);
    border-radius: 10px 0px 0px 10px ; 
}

.card:nth-child(2){
    background-color:var(--cyan);
}
.card:last-child{
    background-color:var(--dark-cyan);
    border-radius: 0px 10px 10px 0px ; 
}

.card h1 {
    font-family:  'Big Shoulders Display', cursive;
    font-size: 3em ;
    font-weight: 700;
    align-self: flex-start;
}
.card img {
    width : 4em ; 
    align-self: flex-start;
}

.card p{
    font-size : 15px ; 
    font-weight:400 ; 
    align-self: flex-start;
    margin : 0 ; 
}

.btn{
    font-size : 15px ; 
    padding: 0.8em 2em  ; 
    color : var(--transparent-white);
    background-color: var(--backgound);
    border-radius : 25px ;  
    width : auto ; 
    margin-top : 5em ; 
    align-self: flex-start;
    /* justify-self: end; */

}

.card:first-child .btn{
    color : var(--orange); 
}

.card:nth-child(2) .btn{
    color:var(--cyan);
}
.card:last-child .btn{
    margin-top : 6em ;
    color:var(--dark-cyan); 
}


.btn:hover{
    color : white;
    border : 10px solid white ; 
    box-sizing: border-box;
    background-color : blue;
    cursor : pointer;
    
}


/* 
##########################
    Responsive Webstie 
##########################
*/


@media screen and (max-width:375px){
    .card-container{
        display : flex ; 
        flex-direction : column; 
        height : auto ; 
    
    }
    .card{
        height : auto ; 
        padding : 2em ; 
    }
    .card:first-child {
        border-radius: 10px 10xp 0px 0px ; 
    }
    
    .card:nth-child(2) {
        border-radius: 0px;
    }
    .card:last-child {
        border-radius: 0px 0xp 10px 10px ;
        
    }
}





